body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    border: none;
       


}

.container {
    max-width: 540px;
    margin: 0 auto;

}


.splash h1 {
        font-size: 60px;
        padding: 60px o o o;
        margin: 0 auto;

}

.splash h3 {
        font-size: 45ps;
        text-aling: center;
        font-style: italic;
        padding: 0;
}



